// Place all the styles related to the Api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
  position: relative;
  height: 100%;
  width: 100%;
}

.form-body {
  display: flex;
  height: 100%;
  width: 100%;
}

.submit-form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-height: 100%;
  background-color: white;
  border: 1px solid black;
}

.form {
  // margin-left: 3.25em;
  width: 80%;
  border: 1px solid black;
}

.submit-image-body {
  border: 1px solid black;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://s.yimg.com/ny/api/res/1.2/wL8oj3c3bEWARP8lBHRvAA--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/http://media.zenfs.com/en-US/homerun/motleyfool.com/dd29e27eb515379b591ab47e4857072a);
}

.form-header {
  font-size: x-large;
  font-style: bold;
  margin-bottom: 1em;
}

.submit-input-label {
    font-size: small;
}

.submit-input-box {
    border: 1px solid black;
    height: 45px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: small;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    font-style: italic;

}


.submit-input-box:hover {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid rgb(245, 245, 245);
}

.submit-input-box:focus {
    box-sizing: border-box;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    box-shadow: none;
    border: 1px solid rgb(66, 207, 160);
}

.submit-input-box:valid {
  box-sizing: border-box;
  outline-style:none;
  box-shadow:none;
  border-color: transparent;
  background-color: rgb(210, 238, 255);
}

form ul {
  margin-top: 5px;
  position: absolute;
  width: max-content;
  margin-left: 15px;
  list-style-type: '!   ';
}


.btn-show {
    display: flex;
    justify-content: center;
    font-size: small;
    height: 45px;
    width: 125px;
    border-radius: 5px;
    background-color: rgb(66, 207, 160);
    color: white;
    margin-top: 100px;
    cursor: pointer;
}

.btn-show:hover {
    background-color: rgb(52, 184, 140);
}

.demo-hide {
  display: none;
}

.demo-show {
  display: flex;
  justify-content: center;
  font-size: small;
  height: 45px;
  width: 125px;
  border-radius: 5px;
  background-color: rgb(145, 214, 241);
  color: white;
  margin-left: 50px;
  cursor: pointer;
}

.demo-show:hover {
  background-color: rgb(125, 185, 209);
}
