.show-body, .show-body ul, .show-body ul span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/* Dark Mode*/
.show-body-dark {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background-color: black;
     color: white;
}

.show-body-dark button {
    font-size: small;
}

.show-body-dark button:hover {
     color: rgb(66, 207, 160);
}

.show-body-dark span{
    background-color: black;
    color: white;
}

.show-body-dark ul button{
    background-color: black;
    color: white;
}

.show-body-dark .stock-bar span:hover {
  color: black
}

.show-body-dark .selected {
    color: rgb(66, 207, 160);
    text-decoration: underline;
    font-weight: bold;
}

.show-body-dark .nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  right: 10px;
  border: 1px solid lightgrey ;
  color: white;
  z-index: 1;
}

.show-body-dark .nav-dropdown-content p:hover {
  background-color: rgb(236, 241, 243);
  color: black
}



/* Dark Mode */

/* Stock Bar*/

.stock-bar {
  display: block;
  position: absolute;
  border-radius: 0.25em;
  margin-left: 50em;
  margin-top: 5em;
  width: 15em;
  height: 20em;
  border: 1px solid black;
  overflow-y: auto;
}

.stock-bar::-webkit-scrollbar {
  display: none;
}

.stock-bar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color:  rgb(66, 207, 160);
  width: 100%;
  height: 60px;
}

.stock-bar div {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.stock-bar div span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-size: large;
  cursor: pointer;
}

.stock-bar div span:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(236, 241, 243);
}



/* Stock Bar*/

.stock-show {
    width: 600px;
    height: 649px;
    margin-left: 150px;
    margin-top: 30px;
}

.show-body button {
    font-size: small;
}

.show-body button:hover {
    color: rgb(66, 207, 160);
}


.chart {
    margin-top: 20px;
}
.tooltip {
    margin-bottom: 50px;
}

.selected {
    color: rgb(66, 207, 160);
    text-decoration: underline;
    font-weight: bold;
}

.flux {
    display: flex;
    font-size: small;
}

#fluxPercent {
    margin-left: 5px;
}

.stock-name {
    font-size: xx-large;
    font-weight: normal;
}

#stockPrice {
    font-size: x-large;
}

.stock-show-bar {
  display: inline-flex;
  background-color: white;
}

.stock-show-bar button {
  background-color: white;
}



/* Navbar */

.top-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 475px;
}

.right-nav div {
  margin-right: 20px;
}

.right-nav div:hover {
  color:  rgb(66, 207, 160);
  cursor: pointer;
}

.nav-dropdown {
  cursor: pointer;
  position: relative;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  border-radius: 3px;
  background-color: white;
  right: 10px;
  border: 1px solid lightgrey ;
  color: black;
  z-index: 1;
}

.nav-dropdown-content p {
  padding: 5px;
  margin-bottom: 5px;
}

.nav-dropdown-content p:hover {
  background-color: rgb(236, 241, 243);
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
  padding: 2px;
  margin-top: 10px;
}


.search-bar {
  display: flex;
}

.search-input {
  text-transform: uppercase;
  box-sizing: border-box;
  outline-style: none;
  box-shadow:none;
  margin-top: 9px;
  height: 20px;
  width: 150px;
}


.search-input:focus {
    box-sizing: border-box;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    border: 1px solid rgb(66, 207, 160);
}


/* Navbar end */