/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, a,
ul, li, strong, main, i,
section, img, div, h2, p, form,
fieldset, label, input
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font:inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: border-box;
  background: transparent;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

ul {
  list-style: none;
}

button,
input[type="submit"] {
  display: flex;
  cursor: pointer;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  align-items: center;
  justify-content: center
}


/* img {
  display: block;
  width: 100%;
  height: auto;
} */

/* input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
 
  -webkit-appearance: none;
  -moz-appearance: none;
} */


/******** Greeting ************/





/******************************/




 .body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: max-content;
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  height: 4em;
  z-index: 100;
}


.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 6px grey;
}

.header-logo {
  display: block;
  font-size: x-large;
  margin-left: 2em;
}

.logged-in-greeting {
  height: 100%;
  width: 20em;
  margin-right: 1.25em;
}

.logged-in-list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: bold;
  width: 10em;
  height: 3em;
  border-radius: 2em;
  background: #00C805;
  cursor: pointer;
}

.header-list {
  display: flex;
  height: 100%;
  width: 15em;
  margin-right: 1.25em;
}

.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: bold;
  width: 10em;
  height: 3em;
  border-radius: 2em;
  background: #00C805;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: bold;
  width: 7em;
  height: 3em;
}

.signup-btn:hover {
  display: flex;
  background: #00b306;
}

.login-btn:hover {
  color: #00b306;
}

.home-body {
  display: flex;
  width: 100%;
  height: 40em;
  background-color: #BCF335;
  border-bottom: 1px solid black;
}

.home-body-left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 50%;
}


.home-header {
  width: 80%;
  font-size: 60px;
  margin-top: 1.5em;
}

.home-slogan {
  width: 80%;
  font-size: 30px;
  margin-top: 1.5em;
}

.home-btn-container {
  width: 80%;
  margin-top: 2.5em;
}

#home-btn {
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: black;
  border-radius: 3em;
  color: white;
  font-size: large;
  width: 8em;
  height: 2.75em;
  cursor: pointer;
}

#home-btn:hover {
  background-color: rgba(0, 0, 0, 0.747);
}

.home-body-right {
  width: 50%;
  display: flex;
  align-items: center;
}

.home-img {
  width: 23em;
  height: 20em;
}


.logout-btn {
  border: 1px solid rgb(245, 245, 245);
  border-radius: 15px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: rgb(80, 192, 155);
}

.fees-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 22em;
}

.fees-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fees-content ul {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#fees-header {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: xx-large;
}

#fees-slogan {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: medium;
}

#com-dis {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: larger;
  cursor: pointer;
}

/**************** Fractional Shares ******************/

.fractional-shares-body {
  width: 100%;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}

.fractional-shares-left {
  width: 60em;
  height: 100%;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.fractional-shares-left h1 {
  font-size: 35px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.fractional-shares-left h2 {
  color: grey;
  padding-bottom: 1em;
}


.fractional-shares-info {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-top: 1em;
  margin-bottom: 2em;
}

.fractional-shares-info div {
  padding-right: 1.5em;
  line-height: 1.5em;
}

.fractional-shares-info div p:first-child {
  font-weight: bold;
  padding-bottom: 0.25em;
}

.fractional-shares-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30em;
  height: 4em;
  border-radius: 3em;
  background-color: #f5f8fa;
  margin-bottom: 2em;
}

.fractional-shares-info:focus {
  border: 1px solid blue;
}

.fractional-shares-input input[type= 'text'] {
  margin-left: 1em;
  height: 2.5em;
  width: 15em;
  color: #040d14;
  background-color: transparent;
  font-size: medium;
  border: none;
  outline: none;
}

.fractional-shares-input input[type= 'submit'] {
  width: 15em;
  height: 3em;
  border-radius: 3em;
  margin-right: 0.5em;
  font-size: medium;
  font-weight: bold;
  background-color: #00C805;
}

.fractional-shares-disclosure {
  display: flex;
  align-items: flex-end;
  font-size: larger;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}

.fractional-shares-disclosure:hover {
  color: #00C805;
}

.fractional-shares-right {
  width: 20em;
  height: 100%;
}

.fractional-shares-right img {
  width: 100%;
  height: 100%;
}
/*****************************************************/

/************** LMC *******************/

.lmc-body {
  width: 100%;
  height: 38em;
}

.lmc-content {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
}

.lmc-actions {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.lmc-actions ul {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: x-large;
  color: gray;
}

.lmc-actions ul div {
  padding: 0.5em;
  cursor: pointer;
  background-color: none;
}


.lmc-actions ul div:hover:not(.lmc-focus) {
  color:  #00C805;
}

.lmc-focus {
  color: white;
}

.lmc-details {
  position: relative;
  width: 75%;
  height: 100%;
  color: white;
}


#lmc-show {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.lmc-slide {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

.lmc-image {
  height: 100%;
  width: 30%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.lmc-image img {
  width: 16em;
  height: 31em;
}

.lmc-msg {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lmc-msg h2 {
  width: 80%;
  font-size: 70px;
}

.lmc-msg p {
  width: 80%;
  font-size: medium;
}

#lmc-hide {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.5s, opacity 1.5s ease-in;
}


/**************************************/

/****************Footer****************/

.footer-body {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
}

#about-me {
  font-size: x-large;
  margin-left: 2em;
  margin-right: 2em;
}

.footer-contacts {
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
}

#footer-github {
  background-image: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
  background-size: cover;
  background-position: center;
  width: 2.5em;
  height: 2.5em;
  padding: 1em;
  margin-right: 1em;
  cursor: pointer;
}

#footer-linkedin {
  background-image: url("https://www.nicepng.com/png/detail/19-198727_png-file-linkedin-icon-png-black.png");
  background-size: cover;
  background-position: center;
  width: 2em;
  height: 2em;
  padding: 1em;
  margin-right: 1.5em;
  cursor: pointer;
}

#footer-facebook {
  background-image: url("https://i.pinimg.com/736x/b8/2f/06/b82f063b643f72be6f5bc912bc0f5d7f.jpg");
  background-size: cover;
  background-position: center;
  width: 2em;
  height: 2em;
  padding: 1em;
  margin-right: 1em;
  cursor: pointer;
}

/**************************************/


/*************** Products ***************/

.products-body {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 235, 230);
}

.products-header {
  width: 100%;
  height: 8em;
  display: flex;
  align-items: flex-end;
}

.products-header h1 {
  font-size: xx-large;
  margin-left: 2em;
}

.products-image {
  width: 100%;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-image img{
  position: absolute;
  width: 23em;
  height: 23em;
}

.image-show {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.image-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.5s, opacity 1.5s ease-in;
}

.products-actions {
  width: 100%;
  height: 5em;

}

.products-actions ul {
  display: flex;
  font-size: x-large;
  color: gray;
  cursor: pointer;
}

#crypto {
  color: lightpink;
  border-left: 1px solid grey;
}

#crypto:hover {
  color: lightcoral;
}
.products-actions ul h2 {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.products-actions ul h2:hover:not(.prod-focus) {
  color:  #00C805;
}

.prod-focus {
  color: black;
}

.products-descriptions {
  width: 100%;
  height: 20em;
  display: flex;
}

.products-descriptions div {
  position: absolute;
  width: 100%;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
}

.prod-des-des {
  width: 25em;
  height: 5em;
  line-height: 1.5em;
}

.products-descriptions div a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 3em;
  color: white;
  font-size: large;
  font-weight: bold;
  width: 10em;
  height: 2.75em;
  cursor: pointer;
}

.products-descriptions div a:hover {
  background-color: rgba(0, 0, 0, 0.747);
}

.risk-container {
  width: 100%;
  height: 10em;
  display: flex;

}

.prod-des-legend {

  width: 50%;
  height: 4em;
  display: flex;
  align-items: flex-end;
  font-size: larger;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}

.prod-des-legend:hover {
  color:  #00C805;
}

.prod-des-risk {
  width: 50%;
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: small;

}

#crypto-risk-1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  width: 32em;
  height: 100%;
}

#crypto-risk-2 {
  display: flex;
  justify-content: flex-end;
  width: 32em;
  height: 100%;
}



.prod-des-show {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;

}

.prod-des-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.5s, opacity 1.5s ease-in;
}


/****************************************/

/*****************Modal******************/

.prod-modal-container {
  position: fixed;
  width: 100%;
  height: 40em;
  background-color:rgba(0, 0, 15, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.prod-modal-body {
  width: 50em;
  height: 20em;
  display: flex;
  flex-direction: column;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: white;
  color: black;
}

.prod-modal-close-btn-container {
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: flex-end;
}

.prod-modal-close-btn-container p {
  font-size: xx-large;
  cursor: pointer;
}

.prod-modal-header {
  width: 100%;
  height: max-content;
  font-size: 38px;
}

/****************************************/

/************** Loader ******************/

.loader-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.185);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.loader-body {
  width: 5%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-img {
  height: 100%;
  width: 100%;
}

/****************************************/