/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, a,
ul, li, strong, main, i,
section, img, div, h2, p, form,
fieldset, label,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

/* img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  /* -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
} */ 


 body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: aquamarine;
}

.header {
  background: white;
  /* border-bottom: 1px solid #ccc; */
}

.header a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  /* border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; */
}

/* .header-logo {
  border-right: 1px solid #ccc; 
  font-weight: 700;
} */

/* .header-logo:hover {
  background: grey;
} */

.header-list {
  display: flex;
  justify-content: flex-end;
}

.login-btn {
  /* background-color: yellow;
  display: block;
  border-radius: 30px; */
}

.signup-btn:hover {
  background: yellowgreen;
  display: block;
  border-radius: 15px;
}

.demo-hide {
  display: none;
}
/* .header-list > li {
  border-left: 1px solid #ccc;
  list-style: none;
}

.header-list > li:hover {
  background: #000;
} */


