/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, a,
ul, li, strong, main, i,
section, img, div, h2, p, form,
fieldset, label, input
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font:inherit;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: border-box;
  background: transparent;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

ul {
  list-style: none;
}

button,
input[type="submit"] {
  cursor: pointer;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}


/* img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  /* -webkit-appearance: none;
  -moz-appearance: none;
} */




 .body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background:  rgb(55, 204, 154);
  height: 649px;
}

.header {
  background: white;
}

.header a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid black;
}



.header-list {
  display: flex;
  justify-content: flex-end;
}


.signup-btn:hover {
  background: rgb(80, 192, 155);
  display: block;
  border-radius: 15px;
}


.home-img {
  margin-left: 55%;
  margin-top: 10%;
  width: 300px;
  height: 300px;
}

.logout-btn {
  border: 1px solid rgb(245, 245, 245);
  border-radius: 15px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: rgb(80, 192, 155);
}



/* Navbar */

.top-nav {
  display: inline-flex;
  justify-content: space-between;
  background-color: white;
}

.nav-dropdown {
  margin-top: 10px;
  margin-left: 950px;
  cursor: pointer;

}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  z-index: 1;
}



.nav-dropdown:hover .nav-dropdown-content {
  display: block;
  margin-top: 10px;
  margin-right: 200px;
}

/* Navbar end */